@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}




nav{
  position: fixed;
  top: 0;
  width: 100%;
}



/* custom alert effects and styles */
.customAlert {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  margin-top: 2% !important;
  margin-right: 1% !important;
}

.fade-in {
  animation-name: fade-in; /* Nombre de la animación */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-out {
  animation-name: fade-out; /* Nombre de la animación */
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*************/

.linkmenu{
  display: block !important;
}


.nav2{
  border: 1pt solid #373f54;
}

.options-container{
  margin-right: 20% !important;
}

.cellx{
  border: 2px solid black;
}